[force_move]
enable_force_move: true

#[gcode_macro _LDC_CALIBRATE_DRIVE_CURRENT]
#gcode:
    #BED_MESH_CLEAR
    #SET_KINEMATIC_POSITION x=100 y=100 z=10
    #G28 X Y
    #M104 S0
    #M140 S0
    #M106 S0
    #G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} F6000
    #G0 Z30 F600
   # G4 P1000
    #LDC_CALIBRATE_DRIVE_CURRENT CHIP=fly_eddy_probe 
    #G4 P1000
    #SAVE_CONFIG

#[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
#gcode:
   # BED_MESH_CLEAR
   # G28 X Y
    #M104 S0
   # M140 S0
   # M106 S0
   #G90 # Abs positioning
   # G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
   # {% if 'z' not in printer.toolhead.homed_axes %}
   #     SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  #  {% endif %}
  #  PROBE_EDDY_CURRENT_CALIBRATE {rawparams}



[include shell_command.cfg]
[include ely/mcu.cfg]
[include ely/stepper.cfg]
[include ely/extruder.cfg]
[include ely/heater.cfg]
[include ely/fan.cfg]
[include ely/led.cfg]
#[include ely/effect.cfg]
# [include ely/idm.cfg]
#[include ely/DATA_SAMPLE.cfg]
#[include ely/shaper.cfg]
#[include mmu/optional/client_macros.cfg]
[include fluidd.cfg]
#[include timelapse.cfg]
[include ely/pin_def.cfg]

#[include timelapse.cfg]

[virtual_sdcard]
path: /home/radxa/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics:corexy
max_velocity: 800
max_accel: 20000
max_z_velocity: 12
max_z_accel: 100
square_corner_velocity: 5

[exclude_object]

[force_move]
enable_force_move: true



################<<<<<<<<传感器左右校准补偿>>>>>>>>#################

# [axis_twist_compensation]
# speed: 50
# #   The speed (in mm/s) of non-probing moves during the calibration.
# #   The default is 50.
# #horizontal_move_z: 5
# #   The height (in mm) that the head should be commanded to move to
# #   just prior to starting a probe operation. The default is 5.
# calibrate_start_x: 20
# #   Defines the minimum X coordinate of the calibration
# #   This should be the X coordinate that positions the nozzle at the starting
# #   calibration position. This parameter must be provided.
# calibrate_end_x: 280
# #   Defines the maximum X coordinate of the calibration
# #   This should be the X coordinate that positions the nozzle at the ending
# #   calibration position. This parameter must be provided.
# calibrate_y: 150
# #   Defines the Y coordinate of the calibration
# #   This should be the Y coordinate that positions the nozzle during the
# #   calibration process. This parameter must be provided and is recommended to
# #   be near the center of the bed

[z_tilt]
z_positions:2,2
           2,268
points:40,150
	  260,150
speed:150
horizontal_move_z: 5
retries: 4
retry_tolerance: 0.4

#[bed_mesh]
#speed:150
#horizontal_move_z: 1
#mesh_min:30,20
#mesh_max:280,280
#probe_count:20,20
#split_delta_z: .02
#mesh_pps: 2, 2
#algorithm: bicubic

[idle_timeout]
timeout: 3600

[pause_resume]

[display_status]

[safe_z_home]
home_xy_position: 150,150 # Change coordinates to the center of your print bed
speed: 150
z_hop: 10               # Move up 10mm
z_hop_speed: 10


#####################################################################################
                              #<<<自定义宏命令>>>#
#####################################################################################

[gcode_macro calibration_bias]
gcode:
       AXIS_TWIST_COMPENSATION_CALIBRATE

########################<<<<<<<<<<起始打印调校>>>>>>>>>>#######################################

[gcode_macro PRINT_START]
gcode:
      SET_VELOCITY_LIMIT ACCEL=10000
      SET_VELOCITY_LIMIT ACCEL_TO_DECEL=5000
       G28
       {% set bedtemp = params.BED|int %} #设置热床温度
     M190 S{bedtemp}       #等待热床温度稳定  
     M109 S200
      #  Z_TILT_ADJUST
       G92 E0         #重置挤出机 
    #  BED_MESH_CALIBRATE  PROFILE="default"  #  adaptive=1 
    #  BED_MESH_PROFILE  LOAD="default"    #加载网床
       M117 Heating... 
    {% set hotendtemp = params.HOTEND|int %} #设置打印头温度  
    M109 S{hotendtemp}    #等待加热头温度稳定
    G1 E-2 F1800
    G1 E2 F1800
    neo_all_close
    neo_progressbar_on


[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    {% set PROBE_Z_OFFSET = printer.configfile.settings['probe_eddy_current fly_eddy_probe'].z_offset|float %}
    # ========== State Save ==========
    SAVE_GCODE_STATE NAME=STATE_Z_TILT
    
    # ========== Environment Preparation ==========
    BED_MESH_CLEAR                       # Clear existing bed mesh data 
    
    # ========== Main Leveling Process ==========
    {% if not printer.z_tilt.applied %}
        # Initial coarse adjustment 
        _Z_TILT_ADJUST horizontal_move_z=10 retry_tolerance=1
    {% endif %}
    
    # Fine secondary leveling 
    _Z_TILT_ADJUST horizontal_move_z={PROBE_Z_OFFSET} retry_tolerance=0.075 retries=20 METHOD=rapid_scan ADAPTIVE=1
        G0 Z10 F6000                     # Use standard G-code commands instead of HORIZONTAL_MOVE_Z

    # ========== Post-Processing ==========
    G90                                 # Force absolute coordinate mode 
    G0 Z10 F6000                        # Raise Z axis to safe height 
    M117 Z_tilt Completed               # Display completion status 
    #G28                                 # Return to origin
    # ========== State Restore ==========
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT
    M400    

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    neo_all_close
    neo_breathing_on
    M104 S0 ; turn off temperature
    M140 S0
      G91
      G1 Z+25 F1500
      G90
      G28 X Y  
      M84 
  
    
    BED_MESH_CLEAR
    neo_all_close
    neo_rainbow_on

[gcode_arcs]
resolution: 0.1

[temperature_sensor GJT]
sensor_type: temperature_mcu
sensor_mcu: GJT

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_generic chamber_heater]
#*# control = pid
#*# pid_kp = 34.504
#*# pid_ki = 1.855
#*# pid_kd = 160.442
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.887
#*# pid_ki = 0.799
#*# pid_kd = 498.094
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.382
#*# pid_ki = 4.456
#*# pid_kd = 21.078
#*#
#*# [probe_eddy_current fly_eddy_probe]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:1316926.968,0.090000:1316479.445,0.130000:1316028.830,
#*# 	0.170000:1315585.374,0.210000:1315139.113,0.250000:1314693.793,
#*# 	0.290000:1314251.710,0.330000:1313817.124,0.370000:1313383.926,
#*# 	0.410000:1312953.944,0.450000:1312514.148,0.490000:1312086.073,
#*# 	0.530000:1311662.629,0.570000:1311241.737,0.610000:1310816.009,
#*# 	0.650000:1310397.046,0.690000:1309976.941,0.730000:1309567.209,
#*# 	0.770000:1309163.827,0.810000:1308758.943,0.850000:1308357.737,
#*# 	0.890000:1307951.788,0.930000:1307560.555,0.970000:1307166.716,
#*# 	1.010000:1306779.137,1.050000:1306391.473,1.090000:1306010.564,
#*# 	1.130000:1305631.551,1.170000:1305263.208,1.210000:1304897.357,
#*# 	1.250000:1304535.264,1.290000:1304178.895,1.330000:1303826.098,
#*# 	1.370000:1303480.527,1.410000:1303139.076,1.450000:1302800.800,
#*# 	1.490000:1302464.961,1.530000:1302136.779,1.570000:1301809.944,
#*# 	1.610000:1301489.189,1.650000:1301172.982,1.690000:1300853.674,
#*# 	1.730000:1300546.793,1.770000:1300240.025,1.810000:1299935.500,
#*# 	1.850000:1299636.896,1.890000:1299342.463,1.930000:1299055.032,
#*# 	1.970000:1298768.016,2.010000:1298487.487,2.050000:1298207.883,
#*# 	2.090000:1297936.477,2.130000:1297667.270,2.170000:1297399.307,
#*# 	2.210000:1297137.470,2.250000:1296876.920,2.290000:1296618.938,
#*# 	2.330000:1296370.633,2.370000:1296121.016,2.410000:1295875.539,
#*# 	2.450000:1295632.321,2.490000:1295392.923,2.530000:1295155.349,
#*# 	2.570000:1294922.768,2.610000:1294693.000,2.650000:1294462.633,
#*# 	2.690000:1294236.603,2.730000:1294018.224,2.770000:1293801.269,
#*# 	2.810000:1293585.760,2.850000:1293371.353,2.890000:1293163.869,
#*# 	2.930000:1292955.878,2.970000:1292758.180,3.010000:1292559.970,
#*# 	3.050000:1292360.589,3.090000:1292170.058,3.130000:1291978.615,
#*# 	3.170000:1291789.203,3.210000:1291601.402,3.250000:1291417.112,
#*# 	3.290000:1291232.959,3.330000:1291055.640,3.370000:1290877.316,
#*# 	3.410000:1290699.989,3.450000:1290529.257,3.490000:1290360.187,
#*# 	3.530000:1290193.918,3.570000:1290029.235,3.610000:1289866.287,
#*# 	3.650000:1289708.108,3.690000:1289548.708,3.730000:1289392.779,
#*# 	3.770000:1289237.333,3.810000:1289088.700,3.850000:1288937.346,
#*# 	3.890000:1288794.302,3.930000:1288648.064,3.970000:1288503.163,
#*# 	4.010000:1288361.031,4.050000:1288222.452
#*#
#*# [temperature_probe fly_eddy_probe]
#*# calibration_temp = 27.594197
