
[extruder]

sensor_type:ATC Semitec 104GT-2
sensor_pin:GJT:gpio27
sensor_type: MAX31865
sensor_pin: GJT:gpio17
#cs_pin: GJT:gpio12
spi_software_sclk_pin: GJT:gpio2
spi_software_mosi_pin: GJT:gpio3
spi_software_miso_pin: GJT:gpio4
rtd_reference_r: 430  ## 使用PT100时请设置为430,使用PT1000时请设置为4300
rtd_nominal_r: 1000  ## 使用PT100时请设置为100,使用PT1000时请设置为1000
step_pin:GJT:gpio7
dir_pin:GJT:gpio6
enable_pin: !GJT:gpio14
rotation_distance: 21.84
## rotation_distance = The original rotation_distance multiplied by the actual extrusion length divided by the requested extrusion length.
## 校准步进值: 22.44=旧值22*实际值102/目标值100
gear_ratio:50:10
## 减速比(伽利略齿比7.5:1 并且这行注释掉;BMG为50:17,输出轴在前,输入轴在后)
microsteps:16
full_steps_per_rotation: 200   
nozzle_diameter:0.400
filament_diameter:1.75
heater_pin:GJT:gpio23
min_temp:-200
max_temp:350
max_power:1.0
min_extrude_temp:-200
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
#max_extrude_only_distance: 200.0   # 挤出流量报错可以注释这个,但是建议重新切片
max_extrude_only_distance: 800
max_extrude_cross_section:800
#喷嘴温度PID校准命令:  "PID_CALIBRATE HEATER=extruder TARGET=245

#[adxl345]
#cs_pin: GJT:ADXL
#spi_bus: spi1



[tmc2209 extruder]
uart_pin:GJT:gpio15
interpolate:False
run_current: 0.8
sense_resistor:0.110