
[extruder]
step_pin: GJT:EXT_STEP
dir_pin: !GJT:EXT_DIR
enable_pin: !GJT:EXT_EN
rotation_distance: 22.67895 # VZHextrudort, Mini SHerpa and other BMG based extruders
gear_ratio: 50:10 
microsteps: 16
full_steps_per_rotation: 200
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 50.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: GJT:HE0
sensor_pin: GJT:TH0
sensor_type: ATC Semitec 104GT-2  # this is the default for the Revo heater
pullup_resistor: 2200             # this is the default for the Revo heater
control = pid # Sample PID - perform your own PID tuning for accurate results. 
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
min_temp: 0
max_temp: 275
min_extrude_temp: 160


#[adxl345]
#cs_pin: GJT:ADXL
#spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20

[tmc2209 extruder]
uart_pin: GJT:EXT_UART
stealthchop_threshold: 0
run_current: 0.30