[extruder]
step_pin:GJT:EXTRUDER_STEP_PIN
dir_pin:!GJT:EXTRUDER_DIR_PIN
enable_pin:!GJT:EXTRUDER_ENABLE_PIN
microsteps:16
rotation_distance: 51.86
gear_ratio: 95:10
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.750
min_extrude_temp: 170
min_temp: 0
max_temp: 450
heater_pin:GJT:EXTRUDER_HEATER_PIN
sensor_type: MAX31865
# sensor_type: MAX31865
# sensor_pin: GJT:MAX31865_CS_PIN
# spi_bus: spi2
# MAX31865 legacy -> rtd_nominal_r=1000
# MAX31865 legacy -> rtd_reference_r=4300
# MAX31865 legacy -> rtd_num_of_wires=2
# MAX31865 legacy -> rtd_use_50Hz_filter=True
sensor_type: Generic 3950
sensor_pin: GJT:EXTRUDER_SENSOR_PIN
#spi_bus: spi2
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True
pressure_advance: 0.036
pressure_advance_smooth_time: 0.040
max_extrude_only_accel: 5000

[tmc2209 extruder]
uart_pin:GJT:EXTRUDER_UART_PIN
run_current: 0.8
hold_current: 0.4
interpolate: True
stealthchop_threshold: 0
sense_resistor: 0.11