[board_pins mcu]
mcu:mcu
aliases:
    X_STEP_PIN=PB5,
    X_DIR_PIN=PB4,
    X_ENABLE_PIN=PB3,
    X_CS_PIN=PB6,

    Y_STEP_PIN=PD3,
    Y_DIR_PIN=PD2,
    Y_ENABLE_PIN=PD1,
    Y_ENDSTOP_PIN=PA0,
    Y_CS_PIN=PD4,

    Z_STEP_PIN=PD11,
    Z_DIR_PIN=PD12,
    Z_ENABLE_PIN=PD10,
    Z_UART_PIN=PD9,

    Z1_STEP_PIN=PC8,
    Z1_DIR_PIN=PC9,
    Z1_ENABLE_PIN=PA8,
    Z1_UART_PIN=PC7,

    #FAN
    HEATER_FAN2_PIN=PB1,
    FAN3_PIN=PB0,
    INTERNAL_TEMP_FAN_PIN=PA7,

    #LED
    WHITE_LED_WHITE_PIN=PA5,

    #HEATER_BED
    HEATER_BED_HEATER_PIN=PE5,
    HEATER_BED_SENSOR_PIN=PA2,

    CHAMBER_HEATER_HEATER_PIN=PE6,
    CHAMBER_HEATER_SENSOR_PIN=PA1,

    #RGB IO
    MY_LED_PIN=PD0


#[board_pins GJT]
#mcu: GJT
#aliases_2209:
 #   EXT_EN=PA15,EXT_STEP=PB4,EXT_DIR=PB3,EXT_UART=PB5
#aliases_endstop:
 #   LIMIT_0=PA0,LIMIT_1=PA1,LIMIT_2=PA2
#aliases_probe: 
  ##aliases_cnc_fans:
  #  FAN0=PB11,FAN1=PB10
#aliases_thermistors:
 #   TH0=PB0,PT1000=PA3
#aliases_heaters:
#    HE0=PA8
#aliases_rgb:
#    RGBLED=PB15
#aliases_adxl:
 #   ADXL=PA4
#liases_aux:
  #  AUX0=PB2

#mcu:GJT
#aliases:
    # Probe / endstop input on toolhead if needed
   # X_ENDSTOP_PIN=gpio16,

    # Extruder
   # EXTRUDER_STEP_PIN=gpio7,
    ## EXTRUDER_ENABLE_PIN=gpio14,
  #  EXTRUDER_HEATER_PIN=gpio23,
   # EXTRUDER_UART_PIN=gpio15,

    # If using normal thermistor on TH port:
  #  EXTRUDER_SENSOR_PIN=gpio27,

    # If using MAX31865 instead, use this CS pin instead in extruder.cfg:
  #  MAX31865_CS_PIN=gpio17,

    # Fans
   # FAN0_PIN=gpio21,
    #HEATER_FAN_PIN=gpio13,

    # Optional LEDs / accel
   # ACCEL_CS_PIN=gpio12
    
# [board_pins idm]
# mcu:idm
# aliases:
#     ADXL345_CS_PIN=PA3,


