#[lis2dw]
#cs_pin: GJT:ACCEL_CS_PIN
#spi_bus: spi0_gpio4_gpio3_gpio2

#[resonance_tester]
#accel_chip: lis2dw
#probe_points:
#    150, 150, 50

#[input_shaper]
#shaper_freq_x: 38.2
#shaper_type_x: mzv
#shaper_freq_y: 33.8
#shaper_type_y: mzv

#[gcode_macro Search_adxl345]
##        ACCELEROMETER_QUERY

#[gcode_macro Resonance]
#gcode:
    #    G28
    #    SHAPER_CALIBRATE
     #   SAVE_CONFIG
