[lis2dw]


cs_pin: GJT:gpio12
#cs_pin: GJT:gpio12
spi_software_sclk_pin: GJT:gpio2
spi_software_mosi_pin: GJT:gpio3
spi_software_miso_pin: GJT:gpio4
[resonance_tester]
accel_chip: lis2dw
probe_points:
    150, 150, 50
min_freq: 5
max_freq: 133
accel_per_hz: 75
hz_per_sec: 1 

#[input_shaper]
#shaper_freq_x: 38.2
#shaper_type_x: mzv
#shaper_freq_y: 33.8
#shaper_type_y: mzv

#[gcode_macro Search_adxl345]
##        ACCELEROMETER_QUERY

#[gcode_macro Resonance]
#gcode:
    #    G28
    #    SHAPER_CALIBRATE
     #   SAVE_CONFIG
